<%- include('../partials/header') %>
    <header class="flex justify-center items-center w-full h-20 mt-6 bg-amber-200">
        <h1 class="text-4xl">Here Are The Skills For <%= "User" %></h1>
    </header>
    
    <main class="flex justify-center items-center w-1/5 mx-auto mt-4 gap-4 bg-amber-400">
        <ul>
            <% skills.forEach(skill => { %>
                <li>
                    <a class="underline text-white text-xl" href="/skills/<%= skill.name %>"><%= skill.name %></a>
                </li>
            <% }) %>
        </ul>
    </main>
<%- include('../partials/footer') %>
